In [56]:
import pandas as pd

In [57]:
# 컬럼들이 쉼표로 구분되어 있지 않은 경우
# 예) 탭으로 구분되어 있는 경우 delimiter = '\t'

# 6. 정렬
# 행/열이름 기준 정렬
# df.sort_index(axis=0, ascending=True) # 오름차순
# 값기준 정렬
# df.sort_values(by  = '열이름', ascending=False) # 내림차순

In [58]:
data_dic={
    "name": ["John", "Emma", "Liam", "Olivia", "Noah", "Anne"],
    "mid": [84, 92, 57, 81, 58, 77],
    "final": [73, 89, 62, 84, 68, 44]
}

In [59]:
df1=pd.DataFrame(data_dic)
print(df1)

     name  mid  final
0    John   84     73
1    Emma   92     89
2    Liam   57     62
3  Olivia   81     84
4    Noah   58     68
5    Anne   77     44

In [60]:
data_list=[["John", 84, 73],
           ["Emma", 92, 89],
           ["Liam", 57, 62]] 
title_list=["name", "mid", "final"]

In [61]:
df2=pd.DataFrame(data_list, columns=title_list)
print(df2)

   name  mid  final
0  John   84     73
1  Emma   92     89
2  Liam   57     62

In [62]:
df1.to_csv("student.txt", header=None, index=None)

In [63]:
df=pd.read_csv("student.txt")
print(df)

     John  84  73
0    Emma  92  89
1    Liam  57  62
2  Olivia  81  84
3    Noah  58  68
4    Anne  77  44

In [64]:
df=pd.read_csv("student.txt", header=None)
print(df)

        0   1   2
0    John  84  73
1    Emma  92  89
2    Liam  57  62
3  Olivia  81  84
4    Noah  58  68
5    Anne  77  44

In [65]:
df.columns=["Name", "Mid", "Final"]
print(df)

     Name  Mid  Final
0    John   84     73
1    Emma   92     89
2    Liam   57     62
3  Olivia   81     84
4    Noah   58     68
5    Anne   77     44

In [66]:
df=pd.read_csv("student.txt", names=["Name", "Mid", "Final"])
print(df)

     Name  Mid  Final
0    John   84     73
1    Emma   92     89
2    Liam   57     62
3  Olivia   81     84
4    Noah   58     68
5    Anne   77     44

In [67]:
print(df.head(3))
print()
print(df.tail(3))

   Name  Mid  Final
0  John   84     73
1  Emma   92     89
2  Liam   57     62

     Name  Mid  Final
3  Olivia   81     84
4    Noah   58     68
5    Anne   77     44

In [68]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Mid     6 non-null      int64
 2   Final   6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes
None

In [69]:
print(df.describe())

             Mid      Final
count   6.000000   6.000000
mean   74.833333  70.000000
std    14.302680  16.186414
min    57.000000  44.000000
25%    62.750000  63.500000
50%    79.000000  70.500000
75%    83.250000  81.250000
max    92.000000  89.000000

In [70]:
print(df["Mid"])

0    84
1    92
2    57
3    81
4    58
5    77
Name: Mid, dtype: int64

In [71]:
print(df[["Name", "Mid"]])

     Name  Mid
0    John   84
1    Emma   92
2    Liam   57
3  Olivia   81
4    Noah   58
5    Anne   77

In [72]:
print(df["Mid"].mean())

74.83333333333333

In [73]:
df["Total"]=100
print(df)

     Name  Mid  Final  Total
0    John   84     73    100
1    Emma   92     89    100
2    Liam   57     62    100
3  Olivia   81     84    100
4    Noah   58     68    100
5    Anne   77     44    100

In [74]:
df["Total"]=df["Mid"]+df["Final"]
print(df)

     Name  Mid  Final  Total
0    John   84     73    157
1    Emma   92     89    181
2    Liam   57     62    119
3  Olivia   81     84    165
4    Noah   58     68    126
5    Anne   77     44    121

In [75]:
df["Average"]=(df["Mid"]+df["Final"])/2
print(df)

     Name  Mid  Final  Total  Average
0    John   84     73    157     78.5
1    Emma   92     89    181     90.5
2    Liam   57     62    119     59.5
3  Olivia   81     84    165     82.5
4    Noah   58     68    126     63.0
5    Anne   77     44    121     60.5

In [76]:
print(df["Average"]>=70)

0     True
1     True
2    False
3     True
4    False
5    False
Name: Average, dtype: bool

In [77]:
print(df[df["Average"]>=70])

     Name  Mid  Final  Total  Average
0    John   84     73    157     78.5
1    Emma   92     89    181     90.5
3  Olivia   81     84    165     82.5

In [78]:
print(df[(60<=df["Average"])&(df["Average"]<70)])

   Name  Mid  Final  Total  Average
4  Noah   58     68    126     63.0
5  Anne   77     44    121     60.5

In [79]:
del df["Total"]
print(df)

     Name  Mid  Final  Average
0    John   84     73     78.5
1    Emma   92     89     90.5
2    Liam   57     62     59.5
3  Olivia   81     84     82.5
4    Noah   58     68     63.0
5    Anne   77     44     60.5

In [80]:
def calc_grade(avg):
    if avg>=90:
        grade="A"
    elif avg>=80:
        grade="B"
    elif avg>=70:
        grade="C"
    elif avg>=60:
        grade="D"
    else:
        grade="F"
    
    return grade

In [81]:
df["Grade"]=df["Average"].apply(calc_grade)
print(df)

     Name  Mid  Final  Average Grade
0    John   84     73     78.5     C
1    Emma   92     89     90.5     A
2    Liam   57     62     59.5     F
3  Olivia   81     84     82.5     B
4    Noah   58     68     63.0     D
5    Anne   77     44     60.5     D

In [82]:
df.sort_values(by="Mid", ascending=False)
print(df)

     Name  Mid  Final  Average Grade
0    John   84     73     78.5     C
1    Emma   92     89     90.5     A
2    Liam   57     62     59.5     F
3  Olivia   81     84     82.5     B
4    Noah   58     68     63.0     D
5    Anne   77     44     60.5     D

In [83]:
df.sort_values(by="Average", ascending=False)
print(df)

     Name  Mid  Final  Average Grade
0    John   84     73     78.5     C
1    Emma   92     89     90.5     A
2    Liam   57     62     59.5     F
3  Olivia   81     84     82.5     B
4    Noah   58     68     63.0     D
5    Anne   77     44     60.5     D